.navbar {
    background-color: #F1F3FF;
  }

  .logo {
    width: 100px;
    height: 34px;
    background-color: #0D28A6;
  }
  
  .home {
    background-color: #F1F3FF;
  }

  .nav-item {
    font-weight: bold;
  }

  